---
layout: default
title: Chris Contolini
---


{% for post in site.posts %}

<article class='post'>
  {% if post.excerpt_image %}
    <a href="{{ site.path }}{{ post.url }}">
      <div class="photos one caption">
        <img src="{{ post.excerpt_image }}" alt="{{ post.title }}">
        <div class="title">
          <h2><span>{{ post.title }}</span></h2>
          <time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></div>
        </div>
      </div>
    </a>
  {% elsif post.excerpt_video %}
    <iframe width="100%" height="500" src="{{ post.excerpt_video }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
    <h2 class='post-title'>
      <a href="{{ site.path }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
    <!-- {{ post.excerpt }} -->
  {% endif %}
</article>

{% endfor %}

