---
layout: default
title: Chris Contolini
---


{% for post in site.posts %}

<article class='post{% if post.excerpt_image %} with-background{% endif %}'>

    <a href="{{ site.path }}{{ post.url }}">
      <div class="photos one caption">
        {% if post.excerpt_image %}
          <img data-sizes="auto" data-src="{{ post.excerpt_image }}" alt="{{ post.title }}" class="lazyload">
        {% else %}
          <div class="post-background"></div>
        {% endif %}
        <div class="title">
          <h2><span>{{ post.title }}</span></h2>
          <time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></div>
        </div>
      </div>
    </a>

</article>

{% endfor %}

<footer class="about">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><i class="fa fa-creative-commons"></i></a> {{ site.time | date: '%Y' }}
  <a href="{{ site.path }}/about">Chris Contolini</a>
</footer>
